# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform state (CRITICAL)
*.tfstate
*.tfstate.*

# Keys (keep folder, ignore contents)
keys/*
!keys/.gitkeep
*.pem
*.key
id_rsa*
id_ecdsa*
id_ed25519*

# Secrets
*.tfvars
*.env
*.secrets

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
